#banner {
	width: 100%;
	height: 600px;
	display: block;
	background-image: url('../../img/banner/banner.jpg');
	background-position: center;
	background-size: cover;
	background-color: var(--bs-primary);
	background-blend-mode: multiply;
}


/* untuk login page */
#login {
	width: 100%;
	height: 100vh;
	background-image: url('../../img/banner/banner2.jpg');
	background-position: center;
	background-size: cover;
	background-color: var(--bs-primary);
	background-blend-mode: multiply;
}